.character {
  padding: 4px;
  margin: 6px;
  border: 1px solid #d3d4d1de;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.character:hover {
  border: 1px solid #91928ede;
  box-shadow: 5px 5px 5px rgba(37, 111, 13, 0.5);
}

.character__img {
  position: relative;
  width: 232px;
  height: 154px;
  overflow: hidden;
  margin: 16px;
  border-radius: 2px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all .3s ease-out;
  cursor: pointer;
}

img:hover {
  scale: 1.1;
}

.like {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 24px;
  height: 24px;
  background: url("../../assets/svg/heart.svg");
  background-size: cover;
  transition: all .3s ease-out;
}

.like:hover {
  scale: 1.3;
}

.character__title {
  color: #1b311d;
}

.character__button {
  margin-bottom: 10px;
}

.character__img_modal {
  position: relative;
  width: 340px;
  height: 340px;
  overflow: hidden;
  margin: 56px 0 56px 56px;
  border-radius: 5px;
}

.character__content_modal {
  max-width: 40%;
  padding-right: 20px;
  text-align: start;
  margin-left: 56px;
}

@media screen and (max-width: 880px){
  .character__img_modal {
    width: 280px;
    height: 280px;
    margin: 6px;
  }
  .character__content_modal {
    margin-left: 6px;
  }
}

@media screen and (max-width: 620px){ 
  .character__content_modal {
    max-width: 80%;
  }
}

.character__title_modal {
  font-size: 2rem;
  margin-top: 0;
  color: #1b311d;
}

.episodes__container {
  display: flex;
  align-items: baseline;
  font-size: 14px;
}

.episodes {
  display: flex;
  flex-wrap: wrap;
  margin-left: 10px;
}

.episode {
  padding-right: 2px;
  font-size: 13px;
  outline: none;
  text-decoration: none;
  color:#1b311d;
}

.episode:hover {
  color:#638110de;
}

.episode:visited {
  color: #c37113;
}
