.layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.header {
  padding: 30px 0;
  text-align: center;
  background-color: #242424;
}

.header > a {
  text-decoration: none;
  color: #ffffffde;
  padding-left: 30px;
}

.header > a:hover {
  color: #c37113;
}

.main {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}


@media screen and (max-width: 1200px) {
    .header {
      padding: 30px 15px;
    }
  }